body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

.input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    width: 800px;
}